<div id="body" >
<div id="mele">
        <!-- Admin Login Page Address : http://localhost:4200/adminlogin
        Admin Login ID : admin@mail.com
        Admin Login Password : 12345678 -->
    <a  id="viewmovies_button"   routerLink="/product-list" class="btn btn-info" role="button">View Movies</a>
    <a  id="addmovies_button"  routerLink="/add" class="btn btn-info" role="button">Add Movies</a>
    <a  id="viewusers_button"  routerLink="/viewusers" class="btn btn-info" role="button">View Users</a>
    <a  id="viewbookedtickets_button"  routerLink="/viewbookedtickets" class="btn btn-info" role="button">View Booked Tickets</a>
    <a style="float: right;" id="logout_button"  routerLink="/adminlogin" class="btn btn-info" role="button">Log Out</a>
</div>
<h3 style="text-align: center; color: white; margin-top: 160px;">Welcome to Admin Page</h3>
</div>