@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 500px;
align-content: center;
}

#body{
    background-image: url("adminloginbg.jpg");
    height: 100%;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;   
}

.card{
height: 400px;
margin-top: auto;
margin-bottom: auto;
width: 450px;


}



.card-header h3{
color: white;
}



.input-group-prepend span{
width: 50px;
background-color: #E01933;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
font-weight: bold;
background-color: #11172B;
width: 100px;
border-color: #E01933;
}

.card-header{
    border-bottom:2px solid #E01933;
    background-color: #11172B;
}

.card-body{
    background-color: #11172B;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card-footer{
    background-color: #11172B;
}

