<div id="body">
    
    <div class="container">
        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="card-header">
              <h3>Sign Up</h3> 
    
            </div>
            <div class="card-body">
              <br>
              <form name="RegForm">
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" [(ngModel)]="registerUserData.username" name="username" class="form-control" required placeholder="Full Name" required>

                  
                </div>
                
               

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="registerUserData.email" name="email"  required>
                  </div>
                
                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="registerUserData.mobilenumber" name="mobilenumber"  required>
                    </div>
              
                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="registerUserData.password" name="password"   required>
                    </div>

                   


                <div class="form-group">
                  <input type="button" (click)="registerUser()" value="Sign Up" class="btn float-right login_btn">
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
    