#body2{
    background-image: url("adminloginbg.jpg");
    height: 545px;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;   
}



.login_btn{
    color: white;
    font-weight: bold;
    background-color: #11172B;
    width: 100px;
    border-color: #E01933;
    }

h4{

    color: white;
    border-color: #E01933;
    border: 2px;
   
}
select{
    border-radius:2px;
}

.container{
        
        border:2px solid #E01933;
    height:450px;
    width:400px;
    border-radius: 6px;
    background-color: #11172B;
   
}

#logout_button{
    background: #11172B;
    border-color: #E01933;
   
}

.btn{

    background: #11172B;
    border-color: #E01933;
   

}
.card-header{
    background-color: #11172B;
    color:white;
    border: 1px solid #E01933;
    height: 60px;
}

